@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root{
    --background-col:#ffffff;
    --secondary-bg:#eff4f7;
    --ascent-col:#39a2db;
    --basic-font:'Roboto', sans-serif;
}
body{
    font-family: var(--basic-font);
    
    /* height: 3333vh; */
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
.curp{
    cursor: pointer;
}
header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    font-family: var(--basic-font);
    padding: 2rem 0;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 4rem;
}
.email{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .4rem;
}
.email ion-icon{
    font-size: large;
    background-color: var(--ascent-col);
    padding: .2rem;
    border-radius: 50%;
    color: var(--background-col);
}
.emailtext{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.largeText{
    font-size: large;
    font-weight: bolder;
}
.navigation{
    background-color: var(--ascent-col);
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: .5rem;
    font-family: var(--basic-font);
    color: var(--secondary-bg);
}
.menu{
    display: flex;
    gap: 2rem;
    font-size: larger;
    
}
.hamburgerIcon{
    display: none;
}
.mt_2{
    margin-top: 4rem;
}
.tagheading{
    font-size: 2rem;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
}
.shortUnderline{
    width: 2rem;
    height: 4px;
    background-color: var(--ascent-col);
    border-radius: 2rem;
}
.bodyOfTag{
    padding: 1rem;
    background-color: var(--secondary-bg);
    margin: 4rem;
    margin-top: 2rem;
    text-align: left;
    
}
.details{
    margin: 1rem;
    background-color: var(--secondary-bg);
}
.flex{
    display: flex;
    justify-content: left;
    align-items: center;
}
.detail1{
    border:2px solid var(--ascent-col);
    
}
.detail2{
    border:2px solid var(--ascent-col);
    border-top: none;
    
}

.detailType{
    min-width: 7rem;
    margin-left: 2rem;
}
.detail{
    padding: 1rem 0;
    padding-left: 1rem;
    border-left: 1px solid var(--ascent-col);
    word-wrap: anywhere;
}


.imageOfSchool img{
    height: 70vh;   
    width: 100%;
    
}
.allFac{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}
.fac{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
}
.facICon ion-icon{
    font-size: 7rem;
    padding: 2rem;
    background-color: var(--ascent-col);
    border-radius: 50%;
    color: var(--secondary-bg);
}
@media only screen and (max-width:680px) {
    header{
        flex-direction: column;
        gap: .5rem;
        padding: 2rem 0;
        background-color: var(--secondary-bg);
    }
    .hamburgerIcon{
        display: inline;
        font-size: x-large;
    }
    .emailtext{
        flex-direction: row;
        gap: .2rem;
    }
    .largeText{
        font-size: medium;
        font-weight: bold;
    }
    .navigation{
        align-items: flex-start;
        flex-direction: column;
        /* padding-top: 2rem; */
        /* gap: 1rem; */
        position: absolute;
        width: 100%;
    }
    .menu{
        position: relative;
        /* top: 0; */
        left: 0;
        right: 0;
        flex-direction: column;
        transition: all .5s;
    }
    .closeNav{
        height: 0rem;
        overflow: hidden;
        transition: all .5s;
        
    }
    .openNav{
        height: 15rem;
        padding-top: 1rem;
        transition: all .5s;
        overflow: hidden;
    }
    .bodyOfTag{
        margin: .4rem;
    }
    .detailType{
        margin-left: .2rem;
    }
}